.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.media-tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  /* background-color: rgba(129, 129, 129, 0.52) */
}

.media-tile img {
  width: 150px;
  height: 200px;
  border-radius: 0.3rem;
  /* object-fit: cover; */
}

.media-tile-genre-cover {
  display: flex;
  align-items: center;
}

.media-tile-genre-cover h2 {
  font-weight: 500;
  writing-mode: sideways-lr;
  font-size: 2rem;
  letter-spacing: 1rem;
}

.media-tile-cover-title {
  display: flex;
  flex-direction: column;
}

.media-tile-cover-title p {
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.pagination .pagination-btn {
  display: flex;
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  align-items: center;
}

.pagination .pagination-btn.hide {
  opacity: 50%;
}

.pagination .pagination-btn:hover:not(.hide) {
  background-color: #ddd;
  color: black;
}
